input{
    align-items: center !important;
    border: 1px solid cadetblue;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    border-radius: 3px;
    background-color: #ffcc33 !important;
    border-color: #ffcc33;
}

h1{
    text-align: center !important;
    margin-top: 25px;
}
.form-control{
    display: block !important;
    text-align: center !important;
    margin-top: 20px !important;
    width: 30% !important;
    height: 20% !important;
    align-items: center !important;
    border :1px solid black !important;

}
.form-control {
    display: block !important;
    text-align: center !important;
    margin-top: 4px !important;
    width: 310px !important;
    height: 30% !important;
    align-items: center !important;
    border: 1px solid black !important;
    margin-left: 40%;
    padding-right: 8px !important;
}

body{
    background-color: #ffcc33 !important; 
}