input{
    align-items: center !important;
    border: 1px solid cadetblue;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    border-radius: 3px;
    background-color: #ffcc33 !important;
    border-color: #ffcc33;
}

h1{
    text-align: center !important;
    margin-top: 25px;
}
.form-control{
    display: block !important;
    text-align: center !important;
    margin-top: 20px !important;
    width: 30% !important;
    height: 20% !important;
    align-items: center !important;
    border :1px solid black !important;

}
.form-group{
    align-items: center !important;
    align-self: center !important;
    align-content: center !important;
}

body{
    background-color: #ffcc33 !important; 
}