.w3-container{
    background-color: #ffcc33c2 !important; 
}
.w3-theme-l5{
    background-color: #ffcc33 !important;
}
.postC{
    background-color: #d4b556c2 !important; 
}

.foot{
    background-color: #4d636f !important;
}
.foot2{
    background-color: #3a4b53!important;
}